// colors
$clr-main: #eef3ff;
$clr-card: #ffffff;
$clr-accent: #2d76f9;
$clr-crumbs: #c4d2e3;

$clr-bg: #2b2d3a;
$clr-bg-extra: #252631;

$clr-error: #e83b3b;
$clr-success: #8fd97d;

// fonts
$ff-rubik: 'Rubik', sans-serif;
$ff-os: 'Open Sans', sans-serif;

// others
$bs-black: 0px 14px 61px 0px rgba(23, 27, 44, 0.75);
$bs-mini: 0px 2px 3px 0px rgba(155, 155, 155, 0.1);
