@import '_reset.scss';
@import '_fonts.scss';
@import '_vars.scss';

body {
  background-color: $clr-bg;
  color: $clr-main;
  font-family: $ff-os;
  font-size: 14px;
  line-height: 22px;
  overflow-x: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    padding: 0 25px;
  }
}

.main {
  flex-grow: 1;
  padding: 32px 0 0;
}
@media (max-width: 991px) {
  .main {
    padding: 48px 0 0;
  }
}
@media (max-width: 767px) {
  .main {
    padding: 39px 0 0;
  }
}

.title {
  font-family: $ff-rubik;
  font-size: 38px;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 767px) {
  .title {
    font-size: 24px;
  }
}

.logo {
  & svg path {
    transition: fill 0.3s ease-in-out;
  }
  &:hover {
    & svg path {
      fill: $clr-accent;
    }
  }
}

.label,
.input,
.textarea {
  font-family: $ff-os;
  font-size: 14px;
  line-height: 22px;
}
.label {
  position: absolute;
  left: 8px;
  top: 17px;
  transition: top 0.3s ease-in-out;
  padding: 0 10px;
  pointer-events: none;
  &_fixed {
    top: -10px;
    background-color: $clr-bg-extra;
  }
  &_error {
    color: $clr-error;
  }
}
.input,
.textarea {
  width: 100%;
  background-color: transparent;
  color: $clr-main;
  outline: none;
}
.input {
  border: 1px solid #9aa8ba;
  border-radius: 8px;
  padding: 17px;
  &_error {
    border-color: $clr-error;
  }
}

.textarea {
  min-height: 91px;
  padding-right: 10px;
  margin-bottom: 25px;
  resize: none;
}

.input:focus ~ .label,
.textarea:focus ~ .label {
  top: -10px;
  background-color: $clr-bg-extra;
}

@media (max-width: 575px) {
  .input,
  .label,
  .textarea {
    font-size: 13px;
    line-height: normal;
  }
  .input {
    padding: 17px 13px;
  }
}
.custom-scroll::-webkit-scrollbar {
  width: 5px;
  border-radius: 9px;
  margin-top: 10px;
  margin-bottom: 50px;
  right: 18px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #9aa8ba;
  border-radius: 9px;
  border: none;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: $clr-main;
  border-radius: 50px;
}

.stop-scroll {
  overflow: hidden;
}
